# Python cache
__pycache__/

# Environment variables (DO NOT commit this)
.env

# Database files
*.db
transactions.db

# Large media/binary files
*.zip
*.mp4
db.zip
videoplayback.mp4

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

.DS_Store


app-dev.py 
app-dev2.py 

index-dev.html